@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.logo {
    max-width: 100%;
    height: auto;
    width: auto;
    padding: 20px;
}

/* Override the default behavior of the collapse class */
/*================= Collapse =================*/
.collapse {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    transition: height 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

.collapse.show {
    display: block !important;
    visibility: visible !important;
    transition: height 0.15s ease-in-out, visibility 0.15s ease-in-out;
    height: auto !important;
    /* max-height: 500px; */
}

.collapsible {
    overflow: hidden !important;
    max-height: 0 !important;
}

/*================= Collapse =================*/
.custom-dashboard {
    @apply text-center text-gray-400 hover:text-green-200 transition-all;
}

.gradient-custom {
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}

.flex-edit{
    @apply flex-1 flex flex-col;
}